body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background-color: #fe5f1e;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #fe5f1e;
}

section.hero {
  background-color: #f8f8f8;
}

section.cart {
  background-color: #f8f8f8;
}
section.cart .amount {
  color: #fe5f1e;
}

.size {
  background-color: #f8f8f8;
}

.add-to-cart {
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background-color: #fe5f1e;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background-color: #fe5f1e !important;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: #b23301 !important;
}

section.login {
  background-color: #f8f8f8;
  min-height: 100vh;
}
section.login a {
  color: #fe5f1e;
}
section.login a:hover {
  color: #b23301;
}
